<ang-navbar></ang-navbar>
<br>
<div style="text-align:center">
  <h1>
     {{ title }}
  </h1>
  <img width="315" alt="La Bagarre Logo" src="assets/images/56161638_323182651881924_4085595985441456128_n.jpg">
  <img width="600" alt="La Bagarre Banniere" src="assets/images/56425593_323182865215236_1765515640677859328_n.jpg">
  <img width="315" alt="La Bagarre Logo2" src="assets/images/56161638_323182651881924_4085595985441456128_n.jpg">
</div>
