<ang-navbar></ang-navbar>
<br>
<div class="col-lg-12">
  <div style="text-align:center">
    <h1>
      Contactez nous!
    </h1>
  </div>
</div>
<br>
<form>
  <div class="form-row">
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
      <input type="text" class="form-control" placeholder="Email from">
    </div>
    <div class="col-lg-5">
      <input type="text" class="form-control" placeholder="Email to">
    </div>
    <div class="col-lg-1"></div>
  </div>
  <br>
  <div class="form-row">
    <div class="col-lg-1"></div>
  <div class="form-group col-lg-10">
    <label for="comment">Message : </label>
    <textarea class="form-control" rows="5" id="comment"></textarea>
  </div>
  </div>
</form>
<div class="form-row">
  <div class="col-lg-1"></div>
  <a href="">
    <button type="button" class="btn btn-danger">Send</button>
  </a>
</div>
