body {
  margin: 30px auto 5px auto;
  color: Gainsboro;
  font-family: "Modern Antiqua", cursive;
  background-color: black;
  background-image:
    radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(rgba(255, 255, 255, 0.4),	rgba(255, 255, 255, 0.1) 2px,	transparent 30px);
  background-size: 650px 650px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

h1 {
  line-height: 0.3;
  font-size: 84px;
  font-family: "Henny Penny", cursive;
}

h2 {
  line-height: 0.3;
  font-size: 44px;
  font-family: "Henny Penny", cursive;
}

p {
  line-height: 1.3;
  font-size: 20px;
}

.container {
  position: relative;
  margin: auto;
  width: 330px;
  padding: 15px;
  text-align: center;
}

.stars {
  position: fixed;
  top: 0;
  right: 0;
  width: 120px;
  height: 120px;
  animation: shower 8s ease 15s infinite alternate;
  background: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
  );
}

@keyframes shower {
  0% {
    transform: rotate(30deg) scaleY(0);
    opacity: 0;
  }
  65% {
    transform: rotate(30deg) scaleY(1);
    opacity: 1;
  }
  100% {
    transform: rotate(30deg) scaleY(1) translateY(500%);
    opacity: 0;
  }
}

.door {
  position: absolute;
  left: 15%;
  margin: auto;
  width: 220px;
  height: 320px;
  opacity: 0;
  border-top: 5px gray solid;
  border-left: 5px gray solid;
  border-right: 5px gray solid;
  border-radius: 2px;
  animation: opendoor 10s ease 0s 1;
  background-color: black;
}

/* .doorknob {
	position: absolute;
	top: 50%;
	right: 0;
	width: 30px;
	height: 30px;
	margin: 15px;
	border-radius: 50%;
	background-color: black;
} */

@keyframes opendoor {
  0% {
    transform: rotate(30deg) scaleY(0);
    opacity: 0.5;
  }
  25% {
    transform: rotate(30deg) scaleY(1);
    opacity: 1;
  }
  50% {
    transform: perspective(1000px) rotateY(0deg);
    transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    transform: perspective(1000px) rotateY(-90deg);
    transform-origin: 100% 50%;
    opacity: 0.5;
  }
}

.hypno {
  position: absolute;
  margin: auto;
  width: 320px;
  height: 320px;
  opacity: 0;
  border-radius: 50%;
  animation: hypno 8s ease 4s 1;
  background-image: repeating-radial-gradient(white, black 10%, black 15%);
}

@keyframes hypno {
  0% {
    transform: rotate(30deg) scaleY(0);
    width: 20px;
    height: 20px;
    opacity: 0.5;
  }
  25% {
    transform: rotate(30deg) scaleY(1);
    opacity: 1;
  }
  50% {
    transform: rotate(30deg) scaleY(0);
    opacity: 1;
  }
  75% {
    transform: rotate(30deg) scaleY(1);
    opacity: 1;
  }
  100% {
    transform: rotate(30deg) scaleY(0);
    opacity: 0.5;
  }
}

.info {
  opacity: 1;
  animation: info 14s ease 0s 1;
}

@keyframes info {
  0% {
    opacity: 0;
  }
  85% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
