<div class="stars"></div>

<div class="container">
  <h2>The</h2>
  <h1>404</h1>
  <h2>ZONE</h2>
</div>

<div class="container">
  <div class="door">
    <div class="doorknob"></div>
  </div>
  <div class="hypno"></div>
  <div class="info">
    <p>You unlock this door with the key of imagination. Beyond it is another dimension - a dimension of sound, a dimension of sight, a dimension of mind. You're moving into a land of both shadow and substance, of things and ideas. You've just crossed over into...</p>
    <h3>Page Not Found.</h3>
  </div>
</div>

<div class="container">
  <audio controls autoplay>
    <source src="http://www.rachealbaker.com/music/Twilight-zone-song.mp3" type="audio/mpeg">
  </audio>
</div>

<button type="button" class="btn btn-secondary btn-lg btn-block"><a href="#/artistes">Retour à accueil</a></button>
