<ang-navbar></ang-navbar>
<section class="row">
  <div class="col-lg-12">
    <div style="text-align:center">
      <h1>
        Tom La Murene
      </h1>
    </div>
  </div>
</section>

<section class="row">
  <div class="col-lg-6" id="center-div">
    <carousel>
      <slide>
        <img src="assets/images/Tom/33223734_1442431005857029_4975866371448504320_n.jpg" alt="first slide" class="slides">
      </slide>
      <slide>
        <img src="assets/images/Tom/38072123_1530006373766158_6959875128846974976_n.jpg" alt="second slide" class="slides">
      </slide>
      <slide>
        <img src="assets/images/Tom/53551209_1833984370035022_5556282810106380288_n.jpg" alt="third slide" class="slides">
      </slide>
      <slide>
        <img src="assets/images/Tom/53717353_1828091520624307_4282861174761979904_n.jpg" alt="fourth slide" class="slides">
      </slide>
    </carousel>
  </div>
</section>

<br>
<section class="row">
<div class="col-lg-1" id="center-div2">
  <a href="https://www.facebook.com/tomlamurene/">
    <button type="button" class="btn btn-primary">Facebook</button>
  </a>
</div>

<div class="col-lg-1" id="center-div3">
  <a href="https://www.instagram.com/tom.la.murene/?hl=fr">
    <button type="button" class="btn btn-danger">Instagram</button>
  </a>
</div>
</section>

