<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#/artistes/">Accueil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <li class="navbar-nav">
      <a class="nav-item nav-link active" href="#/artistes/blakape">Blakape<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="#/artistes/lacurieuse">La Curieuse<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="#/artistes/tom">Tom<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="#/artistes/amenInk">Amen Ink<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="#/artistes/rudy">Rudy<span class="sr-only">(current)</span></a>
    </li>
    <li class = "navbar-nav">
      <a class="nav-item nav-link active" href="#/artistes/contact">Contact<span class="sr-only">(current)</span></a>
    </li>
  </div>
</nav>
