<ang-navbar></ang-navbar>
<section class="row">
  <div class="col-lg-12">
    <div style="text-align:center">
      <h1>
        Amen Ink
      </h1>
    </div>
  </div>
</section>

<section class="row">
  <div class="col-lg-6" id="center-div">
    <carousel>
      <slide>
        <img src="assets/images/AmenInk/45512124_428095837721585_1862831486411997184_n.jpg" alt="first slide" class="slides">
      </slide>
      <slide>
        <img src="assets/images/AmenInk/45733040_428822407648928_3937450219666407424_n.jpg" alt="second slide" class="slides">
      </slide>
      <slide>
        <img src="assets/images/AmenInk/50734545_469622516902250_5167518888916680704_n.jpg" alt="third slide" class="slides">
      </slide>
      <slide>
        <img src="assets/images/AmenInk/52523813_480664375798064_4962472077849264128_n.jpg" alt="fourth slide" class="slides">
      </slide>
    </carousel>
  </div>
</section>

<br>

<section class="row">
  <div class="col-lg-1" id="center-div2">
    <a href="https://www.facebook.com/AMENINK/">
      <button type="button" class="btn btn-primary">Facebook</button>
    </a>
  </div>

  <div class="col-lg-1" id="center-div3">
    <a href="https://www.instagram.com/amen_ink/?hl=fr">
      <button type="button" class="btn btn-danger">Instagram</button>
    </a>
  </div>
</section>
