<ang-navbar></ang-navbar>
<section class="row">
  <div class="col-lg-12">
    <div style="text-align:center">
      <h1>
        Blakape
      </h1>
    </div>
  </div>
</section>
<section class="row">
<div class="col-lg-6" id="center-div">
<carousel>
  <slide>
    <img src="assets/images/Blakape/22527987_1507950195965035_5425541393964257885_n.jpg" alt="first slide" class="slides">
  </slide>
  <slide>
    <img src="assets/images/Blakape/40790452_1886609991432385_3088471249811144704_n.jpg" alt="second slide" class="slides">
  </slide>
  <slide>
    <img src="assets/images/Blakape/56567262_2201389066621141_2688832742010912768_n.jpg" alt="third slide" class="slides">
  </slide>
  <slide>
    <img src="assets/images/Blakape/38019097_1826046767488708_8213510446859157504_n.jpg" alt="fourth slide" class="slides">
  </slide>
</carousel>
</div>
</section>

  <br>

<section class="row">
  <div class="col-lg-1" id="center-div2">
    <a href="https://www.facebook.com/BlakapeInk/">
      <button type="button" class="btn btn-primary">Facebook</button>
    </a>
  </div>

  <div class="col-lg-1" id="center-div3">
    <a href="https://www.instagram.com/blakape/?hl=fr">
      <button type="button" class="btn btn-danger">Instagram</button>
    </a>
  </div>
</section>
