<ang-navbar></ang-navbar>
<section class="row">
  <div class="col-lg-12">
    <div style="text-align:center">
      <h1>
        La Curieuse
      </h1>
    </div>
  </div>
</section>

<section class="row">
  <div class="col-lg-6" id="center-div">
    <carousel>
      <slide>
        <img src="assets/images/LaCurieuse/23843582_360922287689323_3167284801299261039_n.jpg" alt="first slide" class="slides">
      </slide>
      <slide>
        <img src="assets/images/LaCurieuse/26904726_387194445062107_3803819143332121281_n.jpg" alt="second slide" class="slides">
      </slide>
      <slide>
        <img src="assets/images/LaCurieuse/37775222_486655931782624_7996722354845646848_n.jpg" alt="third slide" class="slides">
      </slide>
      <slide>
        <img src="assets/images/LaCurieuse/51112694_597894357325447_7287357722217938944_n.jpg" alt="fourth slide" class="slides">
      </slide>
    </carousel>
  </div>
</section>

<br>

<section class="row">
  <div class="col-lg-1" id="center-div2">
    <a href="https://www.facebook.com/lacurieusetattoo/">
      <button type="button" class="btn btn-primary">Facebook</button>
    </a>
  </div>

  <div class="col-lg-1" id="center-div3">
    <a href="https://www.instagram.com/lacurieusetattoo/?hl=fr">
      <button type="button" class="btn btn-danger">Instagram</button>
    </a>
  </div>
</section>


